# Gemini API Key
GEMINI_API_KEY=

# Social Media OAuth Credentials
IG_ID=
IG_SECRET=

FB_ID=
FB_SECRET=
FB_CONFIG_ID=

TW_ID=
TW_SECRET=

LI_ID=
LI_SECRET=

TT_ID=
TT_SECRET=

# App URL (provided by platform)
APP_URL=
